$color-system-primary: #7c4ace;
$color-system-primary-active: #adadfc;
$color-system-primary-tablerow: #efeff5;
/* 全局，仅定义一次即可 */
:root {
  // --sidebar-menu-width: #{vars.$sidebar-menu-width}; /* 例如 240px */
  // --header-height: #{vars.$header-height}; /* 例如 60px */
}
