@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #8989fa,
    ),

    'danger': (
      'base': #f56c6c,
    ),
  )
);
:root {
  // --el-table-header-bg-color: red !important;
}

/**  
*  主要作用于使用el-form时 当input 的 size 为 large 时添加large-form类名时匹配input的高度，使得他们高度相同，垂直方向上居中,可直接在form上添加large-form类名
*/
.large-form {
  .el-form-item__label {
    height: 40px !important;
    line-height: 40px !important;
  }
}

.el-table {
  background-color: unset;
  --el-table-header-bg-color: unset !important;
  --el-table-border-color: #9c69ff !important;
}
.el-table__header-wrapper {
  background-color: unset;
  border-top: 1px solid #9c69ff;
}
.is-leaf {
  background-color: unset;
}
.el-table__header tr {
  background-color: unset !important;
}
.el-table tr {
  background-color: unset !important;
}
.el-table-fixed-column--right {
  background-color: #e9e3f6 !important;
}

// 输入框
.el-input__wrapper,
.el-select__wrapper {
  background-color: #eae1ff !important;
  box-shadow: 0px 0px 4.36px rgba(99, 99, 99, 0.75);
}

.el-button--primary {
  background-color: #eae1ff !important;
  box-shadow: 0px 0px 4.36px rgba(99, 99, 99, 0.75);
  color: #000000;
  &:hover {
    background-color: #d6bbfd !important;
    color: #ffffff;
  }
}
.el-button {
  box-shadow: 0px 0px 4.36px rgba(99, 99, 99, 0.75);
}
