@font-face {
  font-family: "iconfont"; /* Project id 4837513 */
  src: url('iconfont.woff2?t=1764733142582') format('woff2'),
       url('iconfont.woff?t=1764733142582') format('woff'),
       url('iconfont.ttf?t=1764733142582') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh-line:before {
  content: "\e635";
}

.icon-search-line:before {
  content: "\e637";
}

.icon-round-password:before {
  content: "\e633";
}

.icon-round-user:before {
  content: "\e634";
}

.icon-shrink:before {
  content: "\e60a";
}

.icon-expand:before {
  content: "\e632";
}

.icon-share-light-2:before {
  content: "\e638";
}

.icon-delete:before {
  content: "\e684";
}

.icon-stop:before {
  content: "\e686";
}

.icon-history:before {
  content: "\e603";
}

.icon-more:before {
  content: "\eb10";
}

.icon-recorder-fill:before {
  content: "\e6e1";
}

.icon-setup:before {
  content: "\e656";
}

.icon-setting:before {
  content: "\e699";
}

.icon-clear:before {
  content: "\e618";
}

.icon-mute:before {
  content: "\ea0c";
}

.icon-copy:before {
  content: "\ea32";
}

.icon-recorder:before {
  content: "\e610";
}

.icon-keyboard:before {
  content: "\e6d8";
}

.icon-sound:before {
  content: "\e64c";
}

.icon-time:before {
  content: "\e61e";
}

.icon-record:before {
  content: "\e62d";
}

.icon-play:before {
  content: "\e87c";
}

.icon-camera:before {
  content: "\e667";
}

.icon-questions:before {
  content: "\e600";
}

.icon-jump:before {
  content: "\e74d";
}

.icon-account-code:before {
  content: "\e636";
}

.icon-account-user:before {
  content: "\e611";
}

.icon-account-phone:before {
  content: "\e6cd";
}

.icon-account-lock:before {
  content: "\e6cc";
}

.icon-user:before {
  content: "\e6c0";
}

.icon-loop:before {
  content: "\e66d";
}

.icon-plus:before {
  content: "\e61f";
}

.icon-left:before {
  content: "\e62b";
}

.icon-right:before {
  content: "\e62a";
}

.icon-close:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e631";
}

.icon-edit:before {
  content: "\e685";
}

